<div>
	<h2> <%= @action %> une facture</h2>
	<%= simple_form_for([@vehicle, @invoice]) do |f| %>
		<%= f.input :invoice_ref, error: "Veuillez renseigner la référence unique de votre facture", label: 'Référence de la facture' %>
		<%= f.input :date, error:'Veuillez renseigner une date', label: 'Date'%>
		<%= f.input :km, error: 'Veuillez renseigner un kilométrage supérieur à 0', label: 'Kilométrage' %>
		<%= f.input :price, error:'Veuillez renseigner un prix supérieur à 0', label: 'Prix'%>
		<%= f.input :remarks, label:'Remarques' %>
		<%= f.association :shop, collection: Shop.order(:name), prompt: "Sélectionner un garage", error:' Veuillez sélectionner un garage', label:"Garage ayant réalisé l'opération"%>
		<%= f.association :invoice_type, collection: InvoiceType.order(:name), prompt: "Sélectionner un type d'opération", error:"Veuillez sélectionner le type d'opération réalisée", label:"Type d'opération" %>
		<%= f.button :submit, "#{@action}" %>
	<% end %>
	<%= link_to 'Liste des factures', vehicle_invoices_path %>
</div>
