<div>
	<h1>Facture numéro <%= @invoice.invoice_ref %></h1>
	<div>
		<ul>
			<li>Type d'opération : <%= @invoice.invoice_type.name %></li>
			<li>Fait le <%= @invoice.date %></li>
			<li>Réalisé à <%= @invoice.km %> km</li>
			<li>Coût: <%= @invoice.price %></li>
			<li>Fait par <%= link_to @shop.name, shop_path(@shop) %></li>
		</ul>
		<%= link_to 'Editer cette facture', edit_vehicle_invoice_path(@vehicle,@invoice) %>
	</div>
	<%= link_to 'Liste des factures', vehicle_invoices_path %>
</div>
