<h1>Facture numéro <%= @invoice.reference %></h1>
<ul>
	<li>Fait le <%= @invoice.date %></li>
	<li>Réalisé à <%= @invoice.km %> km</li>
	<li>Coût: <%= @invoice.price %></li>
	<li>Fait par <%= link_to @shop.name, shop_path(@shop) %></li>
</ul>
