<h2>Maintenances</h2>
<div class="list-ops">
  <% if @maintenances %>
    <% @maintenances.each do |maintenance| %>
      <div class="list-el"> <!--display flex-->
        <%= maintenance.date.strftime("%m/%d/%Y") %>
        <%= "#{maintenance.km} km" %>
        <%= pluralize(maintenance.nb_ops, "opération") %>
        <%= link_to "Details", vehicle_maintenance_operations_path(@vehicle, maintenance) %>
        | 
        <%= link_to "Edit", edit_vehicle_maintenance_path(@vehicle, maintenance) %>
        | 
        <%= link_to "Del.", vehicle_maintenance_path(@vehicle, maintenance), method: :delete, remote: true %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="list-edit">
  <%= render "m_edit" %>
</div>

<div>
  <%= link_to "Retour", vehicle_path(@vehicle) %>
</div>
