<div>
	<h1>Pleins de carburant du véhicule <%= @vehicle.model %></h1>
	<h3>Immatriculation : <%= @vehicle.registration %></h3>
</div>
<div>
	<%= link_to 'Fiche technique du véhicule', vehicle_path(@vehicle) %>
</div>
<div>
	<%= link_to 'Ajouter un plein de carburant', new_vehicle_refuel_path%>
</div>
<% if @refuels %>
	<div>
		<h4>Détail des <span id='title-number'>10</span> derniers pleins</h4>
		<canvas id='refuels-charts' data-price=<%= @refuels_price.to_json %> data-quantity=<%= @refuels_quantity.to_json %> data-dates=<%= @refuels_dates.to_json %>></canvas>
		<div>
			<label for="refuel-number">Nombre de pleins</label>
			<input type="range" id='refuel-number' min='5' max='25' value="10" step='5'>
			<output for='refuel-number' id='number'>10</output>
		</div>
	</div>
	<div>
		<h4>Moyenne des dépenses mensuelles des 12 derniers mois</h4>
		<canvas id='average-charts' data-average = <%=@average_price.to_json%> data-months= <%= @average_date.to_json %>></canvas>
	</div>
	<div>
	<% else %>
		<p>Désolé, ce véhicule n'a pas encore de plein de carburant</p>
	</div>
<% end %>
