<div>
	<h1>Pleins de carburant du véhicule <%= @vehicle.model %></h1>
	<h3>Immatriculation : <%= @vehicle.registration %></h3>
</div>
<div>
	<%= link_to 'Fiche technique du véhicule', vehicle_path(@vehicle) %>
</div>
<div>
	<%= link_to 'Ajouter un plein de carburant', new_vehicle_refuel_path%>
</div>
<div>
	<% if @refuels %>
		<ul class = 'refuel-list'>
			<% @refuels.each do |refuel| %>
				<div class= 'refuel'>
					<li>Plein réalisé le: <%= refuel.date %></li>
					<li>Kilométrage au moment du plein: <%= refuel.km %> km</li>
					<li>Quantité de carburant : <%= refuel.quantity %> litres</li>
					<li>Prix du plein: <%= refuel.price %> €</li>
					<li><%= link_to 'Supprimer ce plein',vehicle_refuel_path(@vehicle,refuel), method: "delete", data: {confirm: "Supprimer ce plein?"} %></li>
				</div>
			<% end %>
		</ul>
	<% else %>
		<p>Désolé, ce véhicule n'a pas encore de plein de carburant</p>
	<% end %>
</div>
