<h1>Pleins de carburant du véhicule <%= @vehicle.model %></h1>
<h3>Immatriculé : <%= @vehicle.registration %></h3>
<ul>
	<% @refuels.each do |refuel| %>
		<div>
			<li>Plein réalisé le : <%= refuel.date %></li>
			<li>Kilométrage au moment du plein :<%= refuel.km %></li>
			<li>Quantité de carburant : <%= refuel.quantity %></li>
			<li>Prix du plein<%= refuel.price %></li>
		</div>
	<% end %>
</ul>
