<h3><%= "#{@btn_txt} la tâche" %></h3>
<%= simple_form_for [@vehicle, @plan] do |f| %>
  <%= f.input :task %>
  <%= f.input :details %>
  <%= f.input :interval_km %>
  <%= f.input :interval_months %>
  <%= f.submit "Save" %>
<% end %>
