<h3><%= @action %> la tâche</h3>
<%= simple_form_for [@vehicle, @plan] do |f| %>
  <%= f.input :task %>
  <%= f.input :details %>
  <%= f.input :interval_km %>
  <%= f.input :interval_months %>
  <%= f.submit @action %>
  <%= link_to "Annuler", vehicle_maintenance_plans_path %>
<% end %>
