<h2> <%= @vehicle.brand %> <%= @vehicle.model %> </h2>

<ul>
	<li> <strong> registration :</strong> <%= @vehicle.registration %></li>
	<li> <strong> sn :</strong> <%= @vehicle.sn %></li>
	<li> <strong> tank_capacity :</strong> <%= @vehicle.tank_capacity %></li>
	<li> <strong> actual_km :</strong> <%= @vehicle.actual_km %></li>
	<li> <strong> total_expenses :</strong> <%= @vehicle.total_expenses %></li>
	<li> <strong> purchase_date :</strong> <%= @vehicle.purchase_date %></li>
	<li> <strong> purchase_km :</strong> <%= @vehicle.purchase_km %></li>
	<li> <strong> sale_date :</strong> <%= @vehicle.sale_date %></li>
	<li> <strong> sale_km :</strong> <%= @vehicle.sale_km %></li>
</ul>

<%= form_for @vehicle do %>
  <% @vehicle_fuels.each do |fuel| %>
    <% fuel_id = fuel["id"] %>
    <div class='tag-item'>
      <%= check_box_tag fuel_id, fuel_id, fuel["checked"], :name => 'vehicle[fuel_ids][]', class: 'tag-selector' %>
      <%= label_tag fuel_id, fuel["name"] %>
    </div>
  <% end %>
  <%= submit_tag %>
<% end %>

<%= link_to "Editer ce véhicule", edit_vehicle_path(@vehicle) %>
<br>
<%= link_to "Plan de maintenance", vehicle_maintenance_plans_path(@vehicle) %>
<br>
<%= link_to "Maintenance", vehicle_maintenances_path(@vehicle) %>
<br>
<%= link_to "Rappels", vehicle_reminders_path(@vehicle) %>
<br>
<%= link_to "Accueil", vehicles_path %>
