<h1> <%= @vehicle.brand %> <%= @vehicle.model %> </h1>

<ul>
	<li> <strong> registration :</strong> <%= @vehicle.registration %></li>
	<li> <strong> sn :</strong> <%= @vehicle.sn %></li>
	<li> <strong> tank_capacity :</strong> <%= @vehicle.tank_capacity %></li>
	<li> <strong> actual_km :</strong> <%= @vehicle.actual_km %></li>
	<li> <strong> total_expenses :</strong> <%= @vehicle.total_expenses %></li>
	<li> <strong> purchase_date :</strong> <%= @vehicle.purchase_date %></li>
	<li> <strong> purchase_km :</strong> <%= @vehicle.purchase_km %></li>
	<li> <strong> sale_date :</strong> <%= @vehicle.sale_date %></li>
	<li> <strong> sale_km :</strong> <%= @vehicle.sale_km %></li>
</ul>