<h2>Détails de la maintenance</h2>
<%= "Réalisée le #{@maintenance.date.strftime("%d/%m/%Y")} à #{@maintenance.km} km " %>

<div class="container">
  <div class="list-ops">
    <% if @operations %>
      <% @operations.each do |operation| %>
        <div class="list-el">
          <div><%= operation.task %></div>
          <div><%= operation.details %></div>
          <%= link_to "Edit", edit_vehicle_maintenance_operation_path(params[:vehicle_id], operation.maintenance_id, operation) %>
          | 
          <div><%= link_to "Del.", vehicle_maintenance_operation_path(params[:vehicle_id], operation.maintenance_id, operation), method: :delete, remote: true %></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="list-edit">
    <%= render "ops_edit" %>
  </div>
</div>

<div>
  <%= link_to "Retour", vehicle_maintenances_path(params[:vehicle_id]) %>
</div>